In [9]:
# Exercise 1: Create a Jupyter Notebook

In [8]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [7]:
# Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [2]:
# Exercise 10 - Insert a markdown cell to list Objectives

Objectives: 
* List popular languages for Data Science
* List the commonly used libraries used by Data Scientists
* List a few examples of evaluating arithmetic expressions in Python

In [10]:
# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Scala

In [4]:
# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

In [11]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter notebook|
|Jupyter lab|
|Apache Zeppelin|

In [13]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [1]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

In [3]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
CHOI Lok man